#a1,
#b1,
#c1,
#a2,
#b2,
#c2,
#a3,
#b3,
#c3 {
    font-size: 10vw;
    max-height: 25vh;
    max-width: 25vh;
}

#winner-display {
    z-index: 100;
    color: white;
}

#winner-display-text {
    background-color: #0dcaf0ab;
}
